# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
venv/
env/

# Environment variables
.env

# Cache folders
.cache/
.cache
.pytest_cache/

# System junk
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/

# Logs and databases (if any)
*.log
*.sqlite3
*.db

# Python packaging
*.egg-info/
dist/
build/
